<div class="container top-buffer">
  <div class="posts top-buffer">
    <% @posts.each do |post| %>
      <div class="top-buffer">
        <p><%= post.title %></p>
      </div>
    <% end %>
  </div>
</div>
