  
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1">
<div class="about-section">
  <center>
    <div class="my-image bottom-buffer">
      <%= image_tag('me.jpg', :class => 'profile-image') %>
    </div>
    <div class="media-links">
      <a
        href="https://www.linkedin.com/in/wade-carlson-b07643a/"
        target="_blank"
      >
        <button class="btn btn-xs btn-outline-primary">
          LinkedIn
        </button>
      </a>
      <a href="https://www.wade-carlson.com/" target="_blank">
        <button class="btn btn-xs btn-outline-primary">
          Website
        </button>
      </a>
    </div>
  </center>
</div>
<div class="top-buffer about-section col-md-6 col-sm-6 offsest-md-3 offset-sm-3">
  <p>
    My name is Wade Carlson and I'm a Full-Stack Software Developer based in Milwaukee, WI.
    CodingBitz was created with <span class="about-content">Ruby on Rails</span> and is hosted on <span class="about-content">Heroku</span>.
  </p>
</div>
</div>