@import 'constants';

.top-buffer {
  margin-top: $standard-margin;
}

.bottom-buffer {
  margin-bottom: $standard-margin;
}

.header-section {
  margin-top: 100px;
}

.header-section.container {
  padding-left: 0;
  padding-right: 0;
}

.header-section a:hover {
  text-decoration: none;
}

.header-description {
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 25px;
  color: #676c72;
}

.initials {
  color: $base-color;
  font-weight: 100;
}

.header-description a {
  color: $base-offset-color;
}

.header-description a:hover {
  color: $base-color;
  text-decoration: none;
  cursor: pointer;
}

.header-description a:visited {
  color: $base-offset-color;
}

.title-first {
  color: $base-color;

  a {
    &:hover {
      color: $base-color;
    }
  }
}

.title-last {
  color: $base-offset-color;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 10px;
  }
}