@import 'constants';

.top-buffer {
  margin-top: 50px;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.header-section {
  margin-top: 100px;
}

.header-section a:hover {
  text-decoration: none;
}

.header-description {
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 25px;
  color: #3f474e;
}

.initials {
  color: $base-color;
}

.header-description a {
  color: $base-offset-color;
}

.header-description a:hover {
  color: $base-color;
  text-decoration: none;
  cursor: pointer;
}

.header-description a:visited {
  color: $base-offset-color;
}

.title-first {
  color: $base-color;
}

.title-last {
  color: $base-offset-color;
}
