// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.label-text {
  margin-left: 10px;
}

.post-preview {
  margin-top: 15px;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-overflow-scrolling: touch;
  position: relative;
  display: inline-block;
  font-size: 15px;
}

.post-preview-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.post-details h4 {
  display: inline;
}

a.post-link:hover, a.home-link:hover {
  cursor: pointer;
  text-decoration: none;
}