@import 'constants';

.section-content {
  color: $section-content-color;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

.section-title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: .5px;
}
